*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main h1{
    margin: 10px;
}

main input{
    margin: 10px;
    padding: 5px;
}

main button{
    padding: 5px;
    transition: 0.4s;
}

main button:hover{
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.603);
    border: 2px solid black;
}

ul{
    margin: 20px;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: black;
}

.done{
    text-decoration: line-through;
}